.page{
    width: 100%;
    height: 100%;
    position: absolute;
}

.home-page,
.contact-page,
.about-page,
.projects-page { 

    h1{
        font-size: 50px;
        font-family: 'Coolvetica', cursive;
        color: #178582;
        font-weight: 600;
        position: relative;
        margin-top: -10px;
        margin-bottom: 35px;
        left: 0px;
        text-shadow: -3px 0px 0px #c7aa8b;
        animation: fadeIn 1s 0.2s backwards, pulse 2s;
    }

    h2{
        font-size: 50px;
        font-family: 'Coolvetica', cursive;
        color: #178582;
        font-weight: 600;
        position: relative;
        margin-top: -10px;
        margin-bottom: 35px;
        left: 0px;
    }

    h3{
        font-size: 50px;
        font-family: 'Coolvetica', cursive;
        color: #178582;
        font-weight: 600;
        position: relative;
        margin-top: -10px;
        margin-bottom: 35px;
        left: 0px;
    }

    p{
        margin-top: -10px;
        text-align: justify;
        font-size: 16px;
        color: #fff;
        font-family: sans-serif;
        font-weight: 800;
        letter-spacing: 0.2px;
        max-width: fit-content;
        animation: fadeIn 1s 0.4s backwards;
    }

    .text-zone{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
    }
}

@media screen and (max-width: 600px){
    .page{
        position: initial;
    }
}