html {
  font-size: 60%;
}

body {
  margin: 0;
  color: #464866;
  background-color: #0A1828;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1200px) {
  body {
      overflow: visible;
  }
}